.form {
  text-align: center;
  margin: 0 20% 48px 20%;
}
.table {
  margin: 24px auto;
  text-align: left;
}
.fieldForm {
  margin-bottom: 12px;
}
.headerForm {
  color: #fff;
  font-size: 1.8em;
  padding: 0 12px;
}
.bodyForm {
  color: #fff;
}
.bodyForm td {
  padding: 8px 16px;
  font-size: 1.2em;
}
.bodyForm textarea {
  resize: none;
  width: 166px;
  height: 120px;
}
.bodyForm textarea,
.bodyForm input {
  padding: 4px 6px;
}
.bodyForm .submit {
  padding: 6px 16px;
}
.submit {
  border-radius: 6px;
  background-color: slateblue;
  cursor: pointer;
  color: #fff;
}
.submit:hover {
  background-color: rgb(141, 129, 224);
}

@media (max-width: 670px) {
  .form {
    margin: 0 16px 32px 16px;
  }
}
