.mainArea {
    width: 100%;
    margin-bottom: 64px;
}
.itemChoose {
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 16px 10%;
    font-size: 1.4em;
    color: rgba(240, 240, 240, 0.8);
    padding: 1em;
    font-weight: 600;
    border: 1px solid rgb(240, 240, 240);
}
.itemChoose:hover {
    background-color: rgba(240, 240, 240, 0.8);
    color: unset;
}
.logoArea {
    margin-top: 12px;
    margin-bottom: 32px;
    text-align: center;
}
.logo {
    margin: 0 14px;
    color: #fff;
    font-size: 40px;
}